*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}




section{
    width: 100%;
    padding-top: 3rem;
    
}

.navbarwrapper{
    height: 100%;

}

.navbar{
    padding: 0;
}
.customNavbar{
    background-color: #F82424;
}

.customNavitems{
    margin: 0 30px;
    padding: 10px 10px;
}
.nav-item{
    padding: 0 25px;
}
.nav-item > a:hover{
    color: rgb(145, 139, 139);
    
}

.nav-item > a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.logo img{
    width: 15%;
    height: 15%;
    padding:0px;
}

.logo p{
    display: inline-flex;
    font-size: x-large;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 0px;
   
}

/*END OF NAV*/

/*-----HOME PAGE------*/

.banner{
    margin: 18px 0px 0px;
    width: 100%;
    border: indigo 1px solid;
    
}

.image img{
    width: 100%;
    height: auto;
}

   
 .unitytext{
    text-align: center;
    margin: 50px 80px;
}

.unitytext h6{
    margin: 20px 0px;
}


/*-------END OF HOME PAGE-----*/


.aboutus{
    padding: 0px 30px;
}

.aboutus h1{
    padding: 2rem 0;
    text-align: center;
}

hr{
    border: 1px solid #F82424;
    width: 20%;
    margin: auto;
}

.aboutwrap{
    margin: 120px 0px;
}

.aboutwrap .abtimgr, .abtimgl{
    width: 20%;
    height: auto;
    
}
.aboutwrap .abtimgr{
    float: right;
    margin: 30px 50px 0px 20px;

}

.aboutwrap .abtimgl{
    float: left;
    margin: 0px 10px;

}


/*BEGINNING OF UPCOMING EVENTS*/



.cal-events{
    
    padding: 2rem 0;
}

.cal-events hr{
    margin-top: 2rem;
}

.cal-events h1{
    text-align: center;
}


.cardtext{
    padding: 20px 10px;
    vertical-align: bottom;
}

.cardtext h3, p{
    display: inline;
    
}

.cardtext ul li{
    padding: 15px;
}

.custom-deck{
    margin: 30px;
}

.custom-card{
    padding: 30px;
    border: 1px solid #F82424;
    border-radius: 15px;
    filter: drop-shadow(10px 10px 4px rgb(46, 45, 45))
    
}

/*CSS CONTACT*/

#contact h1{
    text-align: center;
    margin: 50px;
    
}

.wrapper{
    height:600px;
    width: 500px;
    margin: auto;
    align-items: center;
    border-radius: 25px;
    margin-top: 10px;
}

.sub-btn{
    background-color: #F82424;
    border:1px solid #F82424;
    text-align: center;
    
}

.sub-btn:hover{
    background-color: white;
    border:1px solid #F82424;
    color: #F82424
}

.wrapper h3{
    text-align: center;
    margin:30px;
}

form{
    margin: 50px;
}



.custom-li{
    display: inline;
}

.footercustom{
    background-color: #F82424;
}

.text-footer p{
    text-align: center;
    color: white;
    font-size: 18px;
}


.text-footer a{
    padding: 10px 20px;
    color: white;
    align-items: center;
    cursor: pointer;
}

.cust-text{
    color: white;
}