*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}




section{
    width: 100%;
    height: 130vh;
    padding-top: 3rem;
    
}

.navbarwrapper{
    position: absolute;
    height: 100%;

}

.navbar{
    padding: 0;
}
.customNavbar{
    background-color: #F82424;
}

.customNavitems{
    margin: 0 30px;
    padding: 10px 10px;
}
.nav-item{
    padding: 0 25px;
}
.nav-item > a:hover{
    color: rgb(145, 139, 139);
    
}

.nav-item > a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.logo img{
    width: 15%;
    height: 15%;
    padding:0px;
}

.logo p{
    display: inline-flex;
    font-size: x-large;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 0px;
   
}

/*END OF NAV*/

/*-----HOME PAGE------*/

.banner{
    position: relative;
    margin: 18px 0px 0px;
    width: 100%;
    height: 350px;
    border: indigo 1px solid;
    
}

.image{
    position: absolute;
    width: 100%;
    height: 100%;
}

.image img{
    width: 1348px;
    height: 100%;
}

   
 .unitytext{
    text-align: center;
    margin: 50px 80px;
}

.unitytext h6{
    margin: 20px 0px;
}



.contactbtn{
    height: 50px;
    width: 120px;
    background-color: #F82424;
    border-radius: 20px;
    display: inline-block;
    filter: drop-shadow(3px 6px 3px rgb(48, 47, 47));
}

.contactbtn h6{
    padding: 0px;
    line-height: 0px;
    font-weight: bolder;
}
.contactbtn h6 a{
    text-decoration: none;
    color: white;
}

/*-------END OF HOME PAGE-----*/


.aboutus{
    padding: 0px 30px;
}

.aboutus h1{
    padding: 2rem 0;
    text-align: center;
}

hr{
    border: 1px solid #F82424;
    width: 20%;
    margin: auto;
}

.aboutwrap{
    margin: 50px 0px;
}

.aboutwrap .abtimgr, .abtimgl{
    width: 20%;
    height: auto;
    
}
.aboutwrap .abtimgr{
    float: right;
    margin: 30px 50px 0px 20px;

}

.aboutwrap .abtimgl{
    float: left;
    margin: 0px 10px;

}


/*BEGINNING OF UPCOMING EVENTS*/



.cal-events{
    
    padding: 2rem 0;
}

.cal-events hr{
    margin-top: 2rem;
}

.cal-events h1{
    text-align: center;
}






.customcontainer{
    margin: 20px;
}

.cardcontrol{
    margin: auto;
    
}

.card{
    
    border: 1px solid #F82424;
    border-radius: 25px;
    padding: 0px;
    margin: auto;
    
}

.image-wrapper{
    
    padding: 0px;
}

.image-wrapper img{
   width: 100%;
   height: auto;
   
}

.text h6, p{
font-size: medium;
vertical-align: bottom;
}

.text ul li{
    margin-left: 20px;
    
}








#contact h1{
    text-align: center;
    margin: 50px;
    
}

.wrapper{
    height:600px;
    width: 500px;
    border: #F82424 1px solid;
    margin: auto;
    align-items: center;
    border-radius: 25px;
    margin-top: 10px;
}

.wrapper h3{
    text-align: center;
    margin:30px;
}

form{
    margin: 50px;
}



.custom-li{
    display: inline;
}

.footercustom{
    background-color: #F82424;
}



@media only screen and (max-width: 860px) {
.customNavitems{
    margin: 0 10px;
    
    }


.nav-item{
    padding: 0 15px;
}

.banner{
    margin: 40px 0px 0px;
    height: 300px;
}

.image{
    overflow: hidden;
    
}
.image img{
    margin-right: 100px;
}

}


@media only screen and (max-width: 768px) {

.banner{
    height: 250px;
}

.image img{
    transform: scale(-20% -20%);
    transform: translateX(-5%);

}
}